include test.conf.in dev-requirements.txt tox.ini
include setup.cfg release.py tasks.py LICENSE
include tests/*.py
include examples/*.py
include docs/Makefile
include docs/conf.py
include docs/*.rst
include images/*
